.fretboarder-fingerboard {
  fill: none;
  stroke: black;
  stroke-width: px;
}

.fretboarder-fretwire {
  stroke: #666;
  stroke-width: 1px;
}

.fretboarder-string {
  stroke: black;
  stroke-width: 1px;
}

.fretboarder-nut {
  stroke: black;
  stroke-width: 6px;
}

.fretboarder-finger-position {
  fill: #aaa;
}
