/* Styles for fretboarder demo
 *
 * Author: Will McNeilly
 */

/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */

/* === modules === */

/* === specific styles */

/* === subsections === */

/* === hacks / overrides === */
